body {
  font-family: "Kanit";
}

#chart-agesearch {
  width: 100%;
  height: 500px;
}

.border-radius {
  border-radius: 5px;
  background-color: #FFF;
}

.box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btnborder {
  border-radius: 30px;
  font-family: 'Mitr';
}