body {
  font-family: "Kanit";
}

#map {
  height: 70vh;
  border-radius: 15px;
}

#chart-total {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#chart-sex {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#chart-type {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#chart-age {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#chart-edu {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#chart-occ {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#chart-agetype {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#chart-ageedu {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#chart-ageocc {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#chart-test {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.border-radius {
  border-radius: 5px;
  background-color: #FFF;
}

.box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btnborder {
  border-radius: 30px;
  font-family: 'Mitr';
}

.gR3rXe {
  background-position: center;
  background-size: 48px 48px;
  display: inline-block;
  height: 48px;
  width: 48px;
}

.basemap-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-family: 'Noto Sans Thai', sans-serif;
  cursor: pointer;
  font-family: "Kanit";
}

.basemap-style:hover {
  color: #0563bb;
}

.basemap-style:hover>.gR3rXe {
  border: 2px solid #0563bb;
  border-radius: 8px;
}

.basemap-style:active>.gR3rXe {
  border: 2px solid #0563bb;
  border-radius: 8px;
}

.basemap-style-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-family: 'Noto Sans Thai', sans-serif;
  cursor: pointer;
  font-family: "Kanit";

}

.basemap-style-active>span {
  color: #0563bb;
}

.basemap-style-active>.gR3rXe {
  border: 2px solid #0563bb;
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 2.2px #fff;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  font-family: "Kanit", sans-serif !important;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  border-radius: 5px;
  line-height: 24px;
  color: #555;
}

.legend h4 {
  text-align: center;
  font-size: 14px;
  margin: 2px 12px 8px;
  /* color: #777; */
}

.legend span {
  position: relative;
  bottom: 3px;
  font-family: "Kanit", sans-serif !important;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  /* opacity: 0.7; */
}

.legend img {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

i .arrow-up {
  width: 18px;
  height: 18px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  background-color: blue;
}